.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
}

.center-contents {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.pointer {
  cursor: pointer;
}

.contact-form {
  max-width: 800px;
}

.footer {
  position: absolute;
  bottom: 0;
}

.input-group-top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 10px;
}

.input-group-bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 10px;
}

.signin-img {
  width: 72px;
  height: 72px;
}

.mw-50 {
  max-width: 50%;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar-heading {
  text-transform: uppercase;
}

.table-image {
  width: 30px;
  height: 30px;
}

.modal-image {
  width: 100px;
  height: 100px;
}

.modal-border {
  border-bottom: 1px solid #dee2e6;
}
